<div class="source">
  <p>
    <%= f.hidden_field :_delete, :class => 'delete' %>
    <%= f.label :source_matrix_id %>
    <%= select_matrix f, :source_matrix_id %>
    <%= remove_source_link 'remove', f %>
  </p>
</div>
