<% content_for :head do %>
  <%= javascript_include_tag :defaults %>
<% end %>

<h1>Edit ROC Aggregation</h1>

<% form_for(@roc_group) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<%= link_to 'Show', @roc_group %> |
<%= link_to 'Back', roc_groups_path %>